* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-arrow-right {
  cursor: pointer;
}
.card {
  width: 350px;
}
.card img {
  width: 350px;
  height: 200px;
}
.img img {
  width: 25px;
  height: 25px;
}

.fa-arrow-right {
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(255, 211, 211);
}
